<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.elective.config.mapper.ElectiveConfigValueMapper">

    <resultMap type="ElectiveConfigValue" id="ElectiveConfigValueResult">
        <result property="id" column="id"/>
        <result property="label" column="label"/>
        <result property="templateId" column="template_id"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <sql id="selectElectiveConfigValueVo">
        select
            id,
            label,
            template_id,
            sort
        from elective_config_value
    </sql>

    <select id="selectElectiveConfigValueList" parameterType="ElectiveConfigValue"
            resultMap="ElectiveConfigValueResult">
        <include refid="selectElectiveConfigValueVo"/>
        <where>
            template_id = #{templateId}
            <if test="label != null  and label != ''">and label like concat('%', #{label}, '%')</if>
            <if test="sort != null ">and sort = #{sort}</if>
            order by sort asc
        </where>
    </select>

    <select id="selectElectiveConfigValueById" parameterType="Long" resultMap="ElectiveConfigValueResult">
        <include refid="selectElectiveConfigValueVo"/>
        where id = #{id}
    </select>

    <insert id="insertElectiveConfigValue" parameterType="ElectiveConfigValue" useGeneratedKeys="true" keyProperty="id">
        insert into elective_config_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="label != null  and label != ''">label,</if>
            <if test="templateId != null ">template_id,</if>
            <if test="sort != null ">sort,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="label != null  and label != ''">#{label},</if>
            <if test="templateId != null ">#{templateId},</if>
            <if test="sort != null ">#{sort},</if>
        </trim>
    </insert>

    <update id="updateElectiveConfigValue" parameterType="ElectiveConfigValue">
        update elective_config_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="label != null  and label != ''">label = #{label},</if>
            <if test="templateId != null ">template_id = #{templateId},</if>
            <if test="sort != null ">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElectiveConfigValueById" parameterType="Long">
        delete from elective_config_value
        where id = #{id}
    </delete>

    <delete id="deleteElectiveConfigValueByIds" parameterType="String">
        delete from elective_config_value where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>