<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.elective.record.mapper.ElectiveCheckRecordMapper">
    
    <resultMap type="ElectiveCheckRecord" id="ElectiveCheckRecordResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="courseId"    column="course_id"    />
        <result property="requestId"    column="request_id"    />
        <result property="result"    column="result"    />
    </resultMap>

    <sql id="selectElectiveCheckRecordVo">
        select id, create_by, create_time, update_by, update_time, course_id, request_id, result from elective_check_record
    </sql>

    <select id="selectElectiveCheckRecordList" parameterType="ElectiveCheckRecord" resultMap="ElectiveCheckRecordResult">
        <include refid="selectElectiveCheckRecordVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="requestId != null "> and request_id = #{requestId}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
        </where>
    </select>
    
    <select id="selectElectiveCheckRecordById" parameterType="Long" resultMap="ElectiveCheckRecordResult">
        <include refid="selectElectiveCheckRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertElectiveCheckRecord" parameterType="ElectiveCheckRecord" useGeneratedKeys="true" keyProperty="id">
        insert into elective_check_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="courseId != null ">course_id,</if>
            <if test="requestId != null ">request_id,</if>
            <if test="result != null  and result != ''">result,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="courseId != null ">#{courseId},</if>
            <if test="requestId != null ">#{requestId},</if>
            <if test="result != null  and result != ''">#{result},</if>
         </trim>
    </insert>

    <update id="updateElectiveCheckRecord" parameterType="ElectiveCheckRecord">
        update elective_check_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="courseId != null ">course_id = #{courseId},</if>
            <if test="requestId != null ">request_id = #{requestId},</if>
            <if test="result != null  and result != ''">result = #{result},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElectiveCheckRecordById" parameterType="Long">
        delete from elective_check_record where id = #{id}
    </delete>

    <delete id="deleteElectiveCheckRecordByIds" parameterType="String">
        delete from elective_check_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>